.variable-proximity {
  font-family: 'Manrope', sans-serif;
}

.variable-proximity__word {
  display: inline-block;
  white-space: nowrap;
}

.variable-proximity__letter,
.variable-proximity__space {
  display: inline-block;
  will-change: font-variation-settings;
}

.variable-proximity__letter {
  transition: transform 140ms ease;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
